# Ignore node_modules
node_modules/

# Ignore dependencies
vendor/

# Ignore environment files
.env

# Ignore logs and caches
*.log
storage/
bootstrap/cache/

# Ignore IDE/editor settings
.vscode/
.idea/

# Ignore Docker artifacts
*.pid
*.seed
*.bak
*.tmp
*.swp
