# Ignore node_modules
node_modules/

# Ignore dependencies
vendor/

# Ignore environment files
.env
/src/.env


# Ignore logs and caches
*.log
storage/
bootstrap/cache/

# Ignore IDE/editor settings
.vscode/
.idea/
/vendor/
/node_modules/
/.env
*.log
.DS_Store

# Ignore Docker artifacts
*.pid
*.seed
*.bak
*.tmp
*.swp
